.links{
    font-family: arial, sans-serif;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: fixed;
    right: 16px;
    top: 5px;
    
    z-index: 100;
}

.icon {
    border-radius: 50%;
    height: 32px;
    transition: .2s;
}

.icon:hover{
       box-shadow: 0 0 6px rgba(0, 0, 0, 0.995);
       cursor: pointer;
}

a {
    margin: 5px;
    margin-top: 9px;
    margin-right: 15px;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;

}

#apps {
    margin-right: 16px;
    color: rgb(96, 96, 96);
    font-weight: 700;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

#apps:hover {
    background-color: rgb(232, 230, 230);
}
